@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --blue: #0056b3;
  --slate: #e2e8f0;
  --gray: #6B7280;
  --yellow: #e79137;
  --lexand: "Lexend Deca", Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  /* padding: 30px 10%; */
  display: flex;
  flex-direction: column;
  font-family: var(--lexand);
  position: relative;
}

header nav {
  display: flex;

  left: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  gap: 40px;
  width: 80px;
  padding: 30px 20px;
  background-color: #EAEBEF;

}

nav div {
  display: flex;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div h1 {
  font-size: 1.4rem;
  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 50%;
}

header nav div#icons {
 display: flex;
 gap: 30px;
 flex-direction: column;
}

div#icons i {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--gray);
} 

@media (max-width: 1023px) {
  /* lg and below */
}
@media (max-width: 767px) {
  /* tablets */
}

@media (max-width: 639px) {
  /* mobile */
  header {
    position: fixed;
  }

  header #first-header {
    padding: 20px 5%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header #search-bar {
    display: none;
  }

  header #icons #desktop-icons {
    display: none;
  }

  header #icons i.fa-bars {
    display: block;
  }

  header nav {
    display: none;
  }

  header nav.open {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 60px;
    background: white;
  }
}
