:root {
  --blue: #3752bf;
  --gray: #4e5562;
  --yellow: #e79137;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  /* padding: 30px 10%; */
  display: flex;
  flex-direction: column;
}

header #first-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 10%;
}

header h1 {
  color: var(--blue);
  font-size: 2rem;
}

header #search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

header #search-bar i {
  position: absolute;
  left: 10px;
  color: var(--gray);
  font-size: 1.1rem;
}

header #search-bar input {
  padding: 15px 15px 15px 35px;
  font-size: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  width: 500px;
  /* max-width: 500px; */
}

header #search-bar input:focus {
  /* outline: var(--blue); */
  outline-color: var(--blue);
  border-color: var(--blue);
}

header #search-bar input::placeholder {
  color: var(--gray);
}

header #icons #desktop-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

header #icons i.fa-bars {
  display: none;
}

header #icons i {
  font-size: 1.5rem;
  color: var(--gray);
  cursor: pointer;
}

header #icons div {
  position: relative;
}

header #icons div span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--yellow);
  color: white;
  font-size: 0.75rem;
  padding: 2px 7px;
  border-radius: 50%;
}

hr {
  opacity: 0.3;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
}

header nav a {
  text-decoration: none;
  color: var(--gray);
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  padding: 7px 15px;
}

header nav a:hover {
  background: #f3f4f6;
  border-radius: 7px;
}

@media (max-width: 1023px) {
  /* lg and below */
}
@media (max-width: 767px) {
  /* tablets */
}

@media (max-width: 639px) {
  /* mobile */
  header {
    position: fixed;
  }

  header #first-header {
    padding: 20px 5%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header #search-bar {
    display: none;
  }

  header #icons #desktop-icons {
    display: none;
  }

  header #icons i.fa-bars {
    display: block;
  }

  header nav {
    display: none;
  }

  header nav.open {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 60px;
    background: white;
  }
}
